{% extends 'base.html' %}
{% load staticfiles %}
{% load thumbnail %}
{% block title %}Cart{% endblock %}

{% block content %}
  <div class="row">
    <div class="span8 blog">
			{% for decal in decals %}
        <article class="clearfix">
          <a href="/catalog/{{ decal.slug }}">
            {% thumbnail decal.image "270x220" format="PNG" crop="center" as im %}
				      <img class="align-left" src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}">
				    {% endthumbnail %}
          </a>
          <h4 class="title-bg"><a href="blog-single.htm">{{ decal.title }}</a></h4>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla iaculis mattis lorem, quis gravida nunc iaculis ac. Proin tristique tellus in est vulputate luctus fermentum ipsum molestie. </p>
            <button class="btn btn-mini btn-inverse" type="button">Read more</button>
            <div class="post-summary-footer">
              <ul class="post-data-3">
                <li><i class="icon-calendar"></i> 09/04/15</li>
                <li><i class="icon-user"></i> <a href="#">Admin</a></li>
                <li><i class="icon-comment"></i> <a href="#">5 Comments</a></li>
                <li><i class="icon-tags"></i> <a href="#">photoshop</a>, <a href="#">tutorials</a></li>
              </ul>
            </div>
        </article>
      {% endfor %}
    </div>

    <div class="span4 sidebar">
      <section>
        <div class="input-append">
          <form action="#">
            <input id="appendedInputButton" size="16" type="text" placeholder="Код для скидки"><button class="btn" type="button"><i class="icon-ok-circle"></i></button>
          </form>
        </div>
      </section>

      <h5 class="title-bg">Оформление заказа</h5>
      <ul class="post-category-list">
        <li>
          <a href="#">ФИО:</a>
          <input class="cart-order-input pull-right" type="text">
        </li>
        <li><a href="#">Телефон:</a>
          <input class="cart-order-input pull-right " type="text">
        </li>
        <li>
          <a href="#">Email:</a>
          <input class="cart-order-input pull-right " type="text">
        </li>
        <li>
          <a href="#">Город:</a>
          <input class="cart-order-input pull-right " type="text">
        </li>
        <li>
          <a href="#">Адрес:</a>
          <input class="cart-order-input pull-right " type="text">
        </li>
      </ul>

      <h5 class="title-bg">Способы оплаты</h5>
      <ul class="popular-posts funkyradio">
        <li class="funkyradio-default">
          <input type="radio" name="radio" id="radio1" checked/>
          <label for="radio1">
            <img src="{% static 'img/payments/mailofrussia.png' %}">
            <h6>Оплата наличными</h6>
          </label>
        </li>
        <li class="funkyradio-default">
          <input type="radio" name="radio" id="radio2" />
          <label for="radio2">
            <img src="{% static 'img/payments/mastercard.png' %}">
            <h6>Оплата картой</h6>
          </label>
        </li>
        <li class="funkyradio-default">
          <input type="radio" name="radio" id="radio3" />
          <label for="radio3">
            <img src="{% static 'img/payments/webmoney-white.png' %}">
            <h6>Оплата электронными деньгами</h6>
          </label>
        </li>
        <li class="funkyradio-default">
            <input type="radio" name="radio" id="radio4" />
	          <label for="radio4">
	            <img src="{% static 'img/payments/mts.png' %}">
	            <h6>Оплата с телефона</h6>
	          </label>
        </li>
        <li class="funkyradio-default">
          <input type="radio" name="radio" id="radio5" />
          <label for="radio5">
            <img src="{% static 'img/payments/alfabank-white.png' %}">
            <h6>Интернет банк Альфаклик</h6>
          </label>
        </li>
				<li class="funkyradio-default">
          <input type="radio" name="radio" id="radio6" />
          <label for="radio6">
            <img src="{% static 'img/payments/qiwi.png' %}">
            <h6>Терминал QIWI</h6>
          </label>
        </li>

      </ul>

      <h5 class="title-bg">Итого</h5>
      <ul class="nav nav-tabs">
				<div class="tab-content">
          <div class="tab-pane active" id="comments">
						<ul>
						  <li><i class="icon-chevron-right"></i>Всего наклеек: <a href="#">2 наклейки</a></li>
						  <li><i class="icon-chevron-right"></i>На сумму: <a href="#">600 рублей</a></li>
						  <li>
                <i class="icon-chevron-right"></i>Доставка: <a href="#">0 рублей</a>
                <a href="#"><i title="Подронее о доставке" class="icon-info-sign" ></i></a>
              </li>
						  <li>
                <i class="icon-chevron-right"></i>Скидка:<a href="#">0%</a>
                <a href="#"><i title="Подронее о скидках" class="icon-info-sign" ></i></a>
              </li>
						  <li><i class="icon-chevron-right"></i>Итого к оплате: <a href="#">600 рублей</a></li>
              <button class="pull-right btn btn-big btn-inverse order-btn" type="button">Оплатить</button>
						</ul>
					</div>
        </div>
      </ul>
    </div>
    </div>
  </div>

{% endblock %}