{% extends 'base.html' %}
{% load staticfiles %}
{% load thumbnail %}
{% block title %}Catalog{% endblock %}

{% block content %}
    <!-- Page Content ================================================== -->
    <div class="row">
        <!-- Gallery Item ================================================== -->
        <div class="span12 gallery">

            <ul id="filterOptions" class="gallery-cats clearfix">
                <li class="active"><a href="#" class="all">All</a></li>
                <li><a href="#" class="illustration">Illustration</a></li>
                <li><a href="#" class="design">Design</a></li>
                <li><a href="#" class="video">Video</a></li>
                <li><a href="#" class="web">Web</a></li>
            </ul>

            <div class="row clearfix">
              <ul class="gallery-post-grid holder">
                {% for decal in decals %}
                  <li class="span3 gallery-item" data-id="id-1" data-type="illustration">
                    <span class="gallery-hover-4col hidden-phone hidden-tablet">
                      <span class="gallery-icons">
                        <a href="img/gallery/gallery-img-1-full.jpg" class="item-zoom-link lightbox" title="Custom Illustration" data-rel="prettyPhoto"></a>
                        <a href="gallery-single.htm" class="item-details-link"></a>
                      </span>
                    </span>
                    <a href="/catalog/{{ decal.slug }}">
                    <div class="image-div">
                      {% thumbnail decal.image "x175" format="PNG" crop="center" as im %}
									      <img class="" src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}">
									    {% endthumbnail %}
                    </div>
                    </a>
                    <span class="project-details"><a href="gallery-single.htm">{{ decal.title }}</a>For an international ad campaign.</span>
                  </li>
								{% endfor %}
              </ul>
            </div>

            <!-- Pagination -->
            <div class="pagination">
                <ul>
                <li class="active"><a href="#">Prev</a></li>
                <li class="active"><a href="#">1</a></li>
                <li><a href="#">2</a></li>
                <li><a href="#">3</a></li>
                <li><a href="#">4</a></li>
                <li><a href="#">Next</a></li>
                </ul>
            </div>

        </div><!-- End gallery list-->

    </div><!-- End container row -->

    </div> <!-- End Container -->
{% endblock %}