.cart-order-input{
    width: 63% !important;
    margin: -5px 0px 0px 0px!important;
}

.popular-posts li{
    margin-bottom: 0px !important;
    min-height: 30px; !important;
}

.popular-posts li h6{
    padding-top: 4px;
}

.tab-pane .icon-info-sign{
    margin: 0px 0px 0px 10px;
}

.sidebar .nav-tabs{
    border-bottom: none !important;
}

.sidebar .nav-tabs .tab-pane .btn-inverse{
    margin: 5px 0px 0px 0px;
}

.image-div{
    min-height: 220px;
    min-width: 270px;
    vertical-align:middle;
    text-align:center;
}

.popular-posts li img {
    margin: 3px 20px 0px 39px !important;
}

.funkyradio div {
  clear: both;
  overflow: hidden;
}

.funkyradio h6{
    line-height: 12px !important;
}

.funkyradio label {
  width: 100%;
  border-radius: 3px;
  border: 1px solid #D1D3D4;
  font-weight: normal;
  margin: 0px 0px 3px 0px !important;
}

.funkyradio input[type="radio"]:empty,
.funkyradio input[type="checkbox"]:empty {
  display: none;
}

.funkyradio input[type="radio"]:empty ~ label,
.funkyradio input[type="checkbox"]:empty ~ label {
  position: relative;
  line-height: 2.5em;
  text-indent: 0em;
  margin-top: 2em;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.funkyradio input[type="radio"]:empty ~ label:before,
.funkyradio input[type="checkbox"]:empty ~ label:before {
  position: absolute;
  display: block;
  top: 0;
  bottom: 0;
  left: 0;
  content: '';
  width: 2.5em;
  background: #D1D3D4;
  border-radius: 3px 0 0 3px;
}

.funkyradio input[type="radio"]:hover:not(:checked) ~ label,
.funkyradio input[type="checkbox"]:hover:not(:checked) ~ label {
  color: #d8450b;
}

.funkyradio input[type="radio"]:hover:not(:checked) ~ label:before,
.funkyradio input[type="checkbox"]:hover:not(:checked) ~ label:before {
  content: '\2714';
  text-indent: .9em;
  color: #d8450b;
}

.funkyradio input[type="radio"]:checked ~ label,
.funkyradio input[type="checkbox"]:checked ~ label {
  color: #d8450b;
}

.funkyradio input[type="radio"]:checked ~ label:before,
.funkyradio input[type="checkbox"]:checked ~ label:before {
  content: '\2714';
  text-indent: .9em;
  color: #333;
  background-color: #d8450b;
}

.funkyradio input[type="radio"]:focus ~ label:before,
.funkyradio input[type="checkbox"]:focus ~ label:before {
  box-shadow: 0 0 0 3px #d8450b;
}